<div class="question-container">
  <h5>
    <%= @question%>
  </h5>
  <p><em>-You</em></p>
</div>
<hr>
<div class="answer-container">
  <h5> <%= @answer %> </h5>
  <p><em>-Your Coach</em></p>
</div>
<br>
<br>
<p class = 'link-to-ask'>
  <%= link_to 'Ask a new question', ask_path %>
</p>
